# Database
DATABASE_URL='postgresql://neondb_owner:npg_ZbxrDl0yJ9eF@ep-snowy-base-b4ungzfp-pooler.c-6.us-east-2.aws.neon.tech/neondb?sslmode=require&channel_binding=require'


# Authentication
JWT_SECRET="OqyE6t5un2FrirjPqApYsrF/E/Dr6U+A1kIiNAhm3LisROPQoEUnimy4hef2qcp/"
NEXTAUTH_SECRET="QwBig55l+0D477BzQkRgwvdCNGgMeNhQRJ2eajSTLUhuDRgAPJcigBx4NiBm8C46"

# reCAPTCHA
NEXT_PUBLIC_RECAPTCHA_SITE_KEY="6LdcW9ktAAAAAIp7A-nEfKiqH3Ay7q69za3dEAT-"
RECAPTCHA_SECRET_KEY="6LdcW9ktAAAAAJfi8hR9EXcCQmgLdAz_jcyFRL-4"

# API Encryption
AES_SECRET_KEY="x9eMP4WKknAvZTxlGhs4Qc2DQ9HvapPTF+STXnVW8p01CoB4/TYVseH1ayjdhMYw"